<template>
	<div class="modal" :class="openModel">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Modal title</p>
	      <button class="delete" aria-label="close" @click="close"></button>
	    </header>
	    <section class="modal-card-body">
	      <div class="field">
	        <div class="control">
	        	<label class="label">Name</label>
	          <input class="input is-primary" type="text" placeholder="Name" v-model="list.name">
	        </div>
	      </div>
	      <div class="field">
	        <div class="control">
	        	<label class="label">Phone</label>
	          <input class="input is-primary" type="number" placeholder="Phone number" v-model="list.phone">
	        </div>
	      </div>
	      <div class="field">
	        <div class="control"> 
	        	<label class="label">Email</label>
	          <input class="input is-primary" type="email" placeholder="Email" v-model="list.email">
	        </div>
	      </div>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-success" @click="save">Save changes</button>
	      <button class="button" @click="close">Cancel</button>
	    </footer>
	  </div>
	</div>
</template>
<script type="text/javascript">
import axios from 'axios';
	export default{
		data(){
			return{
				list:{
					name:'',
					phone:'',
					email:''
				}
			}
		},
		props:['openModel'],
		methods:{
			close(){
				this.$emit('closeRequest');
			},
			save(){
				axios.post('/phonebook',this.$data.list) .then((response)=>this.close())
				  .catch((error)=>console.log(error));
			}
		}
	}
</script>