<template>
	<footer class="footer">
	  <div class="container">
	    <div class="content has-text-centered">
	      <p>
	        <strong>Vuejs phonebook</strong> by <a href="https://jgthms.com">Mike Mwena</a>
	      </p>
	    </div>
	  </div>
	</footer>
</template>