<template>
	<div>
		<nav class="panel column is-offset-2 is-8">
		  <p class="panel-heading">
		    PhoneBook
		    <button class="button is-link is-outlined" @click="openAdd">
		      Add new
		    </button>
		  </p>
		  <div class="panel-block">
		    <p class="control has-icons-left">
		      <input class="input is-small" type="text" placeholder="search">
		      <span class="icon is-small is-left">
		        <i class="fas fa-search"></i>
		      </span>
		    </p>
		  </div>
		
		  <a class="panel-block">
		    <span class="column is-9">
		      	marksheet
		    </span>
		     <span class="panel-icon column is-1">
		      <i class="has-text-danger fa fa-trash" aria-hidden="true"></i>
		    </span>
		     <span class="panel-icon column is-1">
		      <i class="has-text-info fa fa-edit" aria-hidden="true"></i>
		    </span>
		     <span class="panel-icon column is-1">
		      <i class="has-text-primary fa fa-eye" aria-hidden="true"></i>
		    </span>
		    
		  </a>
		  <div class="panel-block">
		   
		  </div>
		</nav>
		<app_add :openModel="isActive" @closeRequest="close"></app_add>
	</div>
	
</template>
<script>
 let Add=require('./Add.vue');
	export default{
		data(){
			return{
				isActive:false
			}
		},
		components:{
			'app_add':Add
		},
		methods:{
			openAdd(){
				this.isActive='is-active';
			},
			close(){
				this.isActive=false;
			}
		}
	}
</script>